# <span style="color:darkblue"> Lecture 3 Exercises </span>



## Short Questions

<font size = "5">

1. What is a codebook?
2. How you define a missing value in Python?
2. What is chaining?

In [ ]:
# Write your answers here as comments

# a codebook tells you the characterisitcs of your variables
# you can define a missing value in python by using NaN (not a number)
# chaining is a way of linking different commands together in one chunk of code

## Long Questions

<font size = "5">

Import the libraries "numpy" and "pandas"

In [1]:
# Write your own code
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

In [30]:
# Write your own code
students = pd.read_csv("data_raw/students.csv")
students.dtypes
lettergrade = pd.cut(students['numericgrade'], bins=[0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100],
                     labels=['F', 'D', 'C-', 'C', 'C+', 'B-', 'B', 'B+', 'A-', 'A']
                     , right=True,
                     include_lowest=True,)
students['grade'] = lettergrade
students

    studentid  numericgrade grade
0           1            61    C-
1           2             0     F
2           3            14     F
3           4            57     D
4           5            72    C+
5           6            93     A
6           7            40     F
7           8            11     F
8           9             3     F
9          10            63    C-
10         11             7     F
11         12            46     F
12         13            75    B-
13         14            95     A
14         15            22     F
15         16            40     F
16         17            53     F
17         18            57     D
18         19            82     B
19         20            50     F
20         21             8     F
21         22            87    A-
22         23            82     B
23         24            30     F
24         25            62    C-

<font size = "5">

For questions (b)-(e) use "results.csv", <br>
a dataset on competitive car racing

Import the dataset "data/raw_results.csv" to <br>
 a new object "results"

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function "results.dtypes" to get the column types
- Search for the "results" table in "codebook/f1_codebook.pdf".
- Does the type of the "milliseconds" column agree with the codebook? <br>
i.e. is it an integer, float, or string/object?


HINT: See Lectures 13 and 14 for how to interpret the codebook

In [34]:
# Write your own code
results = pd.read_csv("data_raw/results.csv")
results.dtypes

# miliseconds is an integer in the codebook but an object in the results data

resultId             int64
raceId               int64
driverId             int64
constructorId        int64
number              object
grid                 int64
position            object
positionText        object
positionOrder        int64
points             float64
laps                 int64
time                object
milliseconds        object
fastestLap          object
rank                object
fastestLapTime      object
fastestLapSpeed     object
statusId             int64
dtype: object

<font size = "5">

(c) Clean a column

<font size = "3">

- Import the dataset "data_raw/results.csv" to a new object "results"
- Our goal is to replace any string values in the column "milliseconds" <br>
to missing values (NaNs) and covert to numeric
- To do so, go to Lecture 13 and follow the setups under the headings
    - "Extract list of non-numeric values"
    - "Replace certain values"
    - "Convert column to numeric"

HINT: substitute "milliseconds" instead of "alt", <br>
and the dataset "results" instead of "circuits"

In [37]:
# Write your own code

results = pd.read_csv("data_raw/results.csv")
subset = results.query("milliseconds.str.isnumeric() == False")
list_unique = pd.unique(subset["milliseconds"])
print(list_unique)

['\\N']

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"
- Sort the aggregate dataset in decending <br>
order of mean laps using ".sort_values()"

HINT: See Lecture 14 <br>

In [46]:
# Write your own code

results_agg = (results.groupby("constructorId")
                .agg(mean_laps=("laps", "mean"),
                    std_laps=("laps", "std"))
                .sort_values("mean_laps", ascending=False))
results_agg

results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25835,25841,1096,854,210,47,12,16,16,16,0.0,57,\N,\N,39,12,1:29.833,211.632,11
25836,25842,1096,825,210,20,16,17,17,17,0.0,57,\N,\N,40,20,1:31.158,208.556,11
25837,25843,1096,1,131,44,5,18,18,18,0.0,55,\N,\N,42,11,1:29.788,211.738,9
25838,25844,1096,849,3,6,20,19,19,19,0.0,55,\N,\N,45,14,1:30.309,210.517,130
25839,25845,1096,4,214,14,10,\N,R,20,0.0,27,\N,\N,24,17,1:30.579,209.889,47

<font size = "5" >

(e) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 200'
- Compute the mean and standard deviation of "laps", <br>
grouping by "constructorId". Store the new dataset <br>
as "results_agg"

Hint: See Lecture 11 (to refresh ".query()") and <br>
Lecture 14 for how to combine it with ".groupby()"

In [49]:
# Write your own code

results_agg = (results.query("raceId >= 200")
                .groupby("constructorId")
                .agg(mean_laps=("laps", "mean"),
                    std_laps=("laps", "std"))) 

results_agg

               mean_laps   std_laps
constructorId
1              50.093510  23.147774
3              51.349621  21.064902
4              46.396450  22.565290
5              51.787879  18.281774
6              50.305798  25.953854
...                  ...        ...
209            52.282051  19.522147
210            51.434028  19.915741
211            54.684211  17.680279
213            52.393443  19.883361
214            54.204545  17.951505

[201 rows x 2 columns]


<font size = "5">

(f) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Replace the values "E" with 11 in the column "positionText"
- Create a new column "positionNumeric" that converts <br>
the modified "positionText" column from string to numeric <br>
using ```pd.to_numeric()```

In [ ]:
# Write your own code

constructors = pd.read_csv("data_raw/constructor_standings.csv")

constructors["positionText"] = constructors["positionText"].replace("E", 11)

constructors["positionNumeric"] = pd.to_numeric(constructors["positionText"])

<font size = "5">

(g) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1970","1971-1990","1991-2005", "2006-2020", "2020-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [61]:
# Write your own code

races = pd.read_csv("data_raw/races.csv")
year_brackets = pd.cut(races['year'], bins=[1950, 1971, 1991, 2006, 2020, float("inf")],
                       labels = ['1950-1970', '1971-1990', '1991-2005', '2006-2020', '2020-onwards'],
                       right=False)

<font size = "5">

(h) Aggregate and query

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Subset the observations for 'raceId == 10' using ```.query()```
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Subset the teams with a sum of points $\ge 50$
- Store the results of all these operations in a dataframe <br>
```constructor_standings_agg ```

In [82]:
# Write your own code
standings = pd.read_csv("data_raw/constructor_standings.csv")
first_ten = standings.query("raceId == 10")
first_ten_grouped = first_ten.groupby("constructorId")
points_agg = first_ten_grouped.agg(constr_points=("points", "sum"))
constructor_standings_agg = points_agg.query("constr_points >= 50")

constructor_standings_agg

               constr_points
constructorId
9                       98.5
23                     114.0

<font size = "5">

(i) Aggregate and sort

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Obtain the sum of "points" by "constructorId" <br> 
(the team) using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the sum of points using ``` .sort_values() ```

In [ ]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")


sum_points = standings.groupby("constructorId").agg(
    total_points=("points", "sum"))
    points_sorted = sum_points.sort_values("total_points", ascending=False)

points_sorted

               total_points
constructorId
6                   90204.0
131                 71808.5
9                   64986.5
1                   57188.5
3                   32093.5
...                     ...
201                     0.0
198                     0.0
203                     0.0
199                     0.0
207                     0.0

[159 rows x 1 columns]

<font size = "5">

(j) Rename column

<font size = "3">

- Import the "data_raw/constructor_standings.csv" file
- Rename the column "wins" to "wins_constructor"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>

In [101]:
# Write your own code

standings = pd.read_csv("data_raw/constructor_standings.csv")

# rename the column "wins" to "wins_constructor" ... create a dictionary and use .rename(columns = ... )
standings = standings.rename(columns={"wins": "wins_constructor"})

<font size = "5">

(k) Merge dataset

<font size = "3">

- Import the "data_raw/constructor_standings.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"constructor_standings" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [ ]:
# Write your own code


merged_data = pd.merge(standings, constructors, on = ["constructorId"], how = "left")